@import url(https://fonts.googleapis.com/css?family=Lora:700);
body {
	background-color: #FDF5E6;
	color:#000;
	font-family:monospace;
	font-size: 20px;
}
section { 
}
section#splash {
	background-image: url("QTrNn7DETWGsjyS5L2n5__MG_8345.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 100vh;
}
h1, h2 {
	font-family: 'Lora', serif;
	text-align: center;
}
h1 {
	font-size:4em;
	line-height: 1.5;
}
h2 {
	font-size: 2em;
}
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
p {
<<<<<<< Updated upstream
	line-height: 1.2;
=======
	font-family: 'Poiret One', cursive;
	font-size: 20px;
	line-height: 2em;
	margin: 15em;
	text-align: center;
>>>>>>> Stashed changes
}
